{
  "name": "sara-england.com",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "sources/images/margot.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/margot.jpg\",\"size\":197569,\"initialSize\":198775,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "_pre/sass/upgrade-browser.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/upgrade-browser.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/upgrade-browser.css\"}"
    },
    {
      "path": "sources/images/social-icons.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/social-icons.png\",\"size\":15904,\"initialSize\":15904,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/browser-icons.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/browser-icons.jpg\",\"size\":37837,\"initialSize\":37837,\"optimized\":false,\"height\":0,\"width\":0}}"
    },
    {
      "path": "_pre/css/upgrade-browser.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_pre/css/upgrade-browser.css\"},\"autoCompile\":true,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/upgrade-browser.min.css\"}"
    },
    {
      "path": "_pre/includes/mixins.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/includes/mixins.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"includes/mixins.html\"}"
    },
    {
      "path": "_pre/js/core.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_pre/js/core.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/core.min.js\"}"
    },
    {
      "path": "_pre/sass/_mixins.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/_mixins.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/_mixins.css\"}"
    },
    {
      "path": "_pre/css/plugins/accordions.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_pre/css/plugins/accordions.css\"},\"autoCompile\":true,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/plugins/accordions.min.css\"}"
    },
    {
      "path": "_pre/css/plugins/lightbox.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_pre/css/plugins/lightbox.css\"},\"autoCompile\":true,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/plugins/lightbox.min.css\"}"
    },
    {
      "path": "_pre/css/plugins/social-icons.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_pre/css/plugins/social-icons.css\"},\"autoCompile\":true,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/plugins/social-icons.min.css\"}"
    },
    {
      "path": "_pre/js/plugins/accordions.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_pre/js/plugins/accordions.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/accordions.min.js\"}"
    },
    {
      "path": "_pre/js/plugins/counter.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_pre/js/plugins/counter.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/counter.min.js\"}"
    },
    {
      "path": "_pre/js/plugins/lightbox.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_pre/js/plugins/lightbox.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/lightbox.min.js\"}"
    },
    {
      "path": "_pre/js/plugins/scroll-actions.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_pre/js/plugins/scroll-actions.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/scroll-actions.min.js\"}"
    },
    {
      "path": "_pre/js/plugins/scroll-to.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"_pre/js/plugins/scroll-to.js\",\"mangle\":true},\"autoCompile\":true,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/scroll-to.min.js\"}"
    },
    {
      "path": "_pre/sass/plugins/accordions.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/plugins/accordions.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/plugins/accordions.css\"}"
    },
    {
      "path": "_pre/sass/plugins/lightbox.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/plugins/lightbox.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/plugins/lightbox.css\"}"
    },
    {
      "path": "_pre/sass/plugins/social-icons.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/plugins/social-icons.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/plugins/social-icons.css\"}"
    },
    {
      "path": "_pre/includes/layout.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/includes/layout.jade\",\"pretty\":true},\"autoCompile\":false,\"customOutput\":\"includes/layout.html\"}"
    },
    {
      "path": "_pre/sass/_core.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/_core.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/_core.css\"}"
    },
    {
      "path": "_pre/sass/styles.sass",
      "configJson": "{\"compiler-sass\":{\"path\":\"_pre/sass/styles.sass\",\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"_pre/css/styles.css\"}"
    },
    {
      "path": "_pre/css/styles.css",
      "configJson": "{\"compiler-css\":{\"path\":\"_pre/css/styles.css\"},\"autoCompile\":true,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/styles.min.css\"}"
    },
    {
      "path": "_pre/index.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/index.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"index.html\"}"
    },
    {
      "path": "sources/images/red-tick.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/red-tick.png\",\"size\":833,\"initialSize\":1833,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/css/upgrade-browser.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"sources/css/upgrade-browser.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/upgrade-browser.min.min.css\"}"
    },
    {
      "path": "sources/css/styles.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"sources/css/styles.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/styles.min.min.css\"}"
    },
    {
      "path": "_pre/error/400.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/400.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/400.html\"}"
    },
    {
      "path": "_pre/error/401.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/401.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/401.html\"}"
    },
    {
      "path": "_pre/error/404.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/404.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/404.html\"}"
    },
    {
      "path": "_pre/error/403.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/403.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/403.html\"}"
    },
    {
      "path": "_pre/error/upgradebrowser.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/upgradebrowser.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/upgradebrowser.html\"}"
    },
    {
      "path": "_pre/error/410.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/410.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/410.html\"}"
    },
    {
      "path": "_pre/error/503.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/503.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/503.html\"}"
    },
    {
      "path": "_pre/error/500.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/error/500.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"error/500.html\"}"
    },
    {
      "path": "sources/js/core.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"sources/js/core.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/core.min.min.js\"}"
    },
    {
      "path": "sources/css/plugins/accordions.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"sources/css/plugins/accordions.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/plugins/accordions.min.min.css\"}"
    },
    {
      "path": "sources/css/plugins/social-icons.min.css",
      "configJson": "{\"compiler-css\":{\"path\":\"sources/css/plugins/social-icons.min.css\"},\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"customOutput\":\"sources/css/plugins/social-icons.min.min.css\"}"
    },
    {
      "path": "sources/js/plugins/accordions.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"sources/js/plugins/accordions.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/accordions.min.min.js\"}"
    },
    {
      "path": "sources/js/plugins/counter.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"sources/js/plugins/counter.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/counter.min.min.js\"}"
    },
    {
      "path": "sources/js/plugins/lightbox.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"sources/js/plugins/lightbox.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/lightbox.min.min.js\"}"
    },
    {
      "path": "sources/js/plugins/scroll-actions.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"sources/js/plugins/scroll-actions.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/scroll-actions.min.min.js\"}"
    },
    {
      "path": "sources/js/plugins/scroll-to.min.js",
      "configJson": "{\"compiler-javascript\":{\"path\":\"sources/js/plugins/scroll-to.min.js\",\"mangle\":true},\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"customOutput\":\"sources/js/plugins/scroll-to.min.min.js\"}"
    },
    {
      "path": "_pre/donate.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/donate.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"donate.html\"}"
    },
    {
      "path": "_pre/about-us.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/about-us.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"about-us.html\"}"
    },
    {
      "path": "sources/images/asthma-word-cloud.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/asthma-word-cloud.png\",\"size\":19768,\"initialSize\":36263,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/bed-and-matress.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/bed-and-matress.jpg\",\"size\":181482,\"initialSize\":182411,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/home-electricals.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/home-electricals.jpg\",\"size\":340094,\"initialSize\":341355,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/sara-uk-england-logo.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/sara-uk-england-logo.png\",\"size\":7059,\"initialSize\":14072,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/table-and-chairs.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/table-and-chairs.jpg\",\"size\":258349,\"initialSize\":259321,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "_pre/our-shop.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/our-shop.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"our-shop.html\"}"
    },
    {
      "path": "_pre/house-clearances.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/house-clearances.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"house-clearances.html\"}"
    },
    {
      "path": "sources/images/eric.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/eric.jpg\",\"size\":172052,\"initialSize\":173241,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/front-of-bennet-road-furniture-showroom.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/front-of-bennet-road-furniture-showroom.jpg\",\"size\":179525,\"initialSize\":180780,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/inside-bennet-road-furniture-showroom.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/inside-bennet-road-furniture-showroom.jpg\",\"size\":197675,\"initialSize\":198605,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/theresa.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/theresa.jpg\",\"size\":151506,\"initialSize\":152728,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/tom.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/tom.jpg\",\"size\":241936,\"initialSize\":243134,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/shabby-chic.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/shabby-chic.jpg\",\"size\":35578,\"initialSize\":36497,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/childrens-toys-and-books.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/childrens-toys-and-books.jpg\",\"size\":262316,\"initialSize\":263595,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/clothes.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/clothes.jpg\",\"size\":222070,\"initialSize\":223325,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/ui-icons.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/ui-icons.png\",\"size\":3815,\"initialSize\":5286,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "_pre/subscribed.jade",
      "configJson": "{\"compiler-pug\":{\"path\":\"_pre/subscribed.jade\",\"pretty\":true},\"autoCompile\":true,\"customOutput\":\"subscribed.html\"}"
    },
    {
      "path": "sources/images/van.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/van.jpg\",\"size\":178468,\"initialSize\":179589,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/sara-uk-england-icon-114x114.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/sara-uk-england-icon-114x114.png\",\"size\":9305,\"initialSize\":12430,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/sara-uk-england-icon-57x57.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/sara-uk-england-icon-57x57.png\",\"size\":4647,\"initialSize\":5674,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/sara-uk-england-icon-72x72.png",
      "configJson": "{\"compiler-png\":{\"path\":\"sources/images/sara-uk-england-icon-72x72.png\",\"size\":5809,\"initialSize\":7376,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/sin.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/sin.jpg\",\"size\":151994,\"initialSize\":152996,\"optimized\":true,\"height\":0,\"width\":0}}"
    },
    {
      "path": "sources/images/sophie.jpg",
      "configJson": "{\"compiler-jpg\":{\"path\":\"sources/images/sophie.jpg\",\"size\":120290,\"initialSize\":121546,\"optimized\":true,\"height\":0,\"width\":0}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "_pre/about-us.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/donate.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/house-clearances.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/index.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/our-shop.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/subscribed.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/400.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/401.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/403.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/404.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/410.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/500.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/error/503.jade",
      "imports": [
        "_pre/includes/layout.jade",
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/includes/layout.jade",
      "imports": [
        "_pre/includes/mixins.jade"
      ]
    },
    {
      "path": "_pre/sass/_core.sass",
      "imports": [
        "_pre/sass/_mixins.sass"
      ]
    },
    {
      "path": "_pre/sass/styles.sass",
      "imports": [
        "_pre/sass/_core.sass",
        "_pre/sass/_mixins.sass"
      ]
    },
    {
      "path": "_pre/sass/plugins/lightbox.sass",
      "imports": [
        "_pre/sass/_mixins.sass"
      ]
    },
    {
      "path": "_pre/sass/plugins/social-icons.sass",
      "imports": [
        "_pre/sass/_mixins.sass"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php",
      "txt",
      "htaccess"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": "http://boobars.joontide.com"
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": false,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "node_modules",
      ".*",
      "bower_components",
      "prepros.config",
      "Prepros Export",
      "prepros-6.config",
      "prepros.cfg",
      "wp-admin",
      "wp-includes",
      ".map",
      "Prepros Build",
      "config.rb",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "sass",
      "jade",
      "_pre",
      "prepros",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"autoCompile\":true,\"compiler-autoprefixer\":{\"enabled\":false},\"sourceMap\":false,\"compiler-sass\":{\"libSass\":true,\"compass\":false,\"fullCompass\":false,\"outputStyle\":\"expanded\"},\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"sass\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"},\"compiler-minify-css\":{\"enabled\":false}}",
  "file-type-less": "{\"autoCompile\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-minify-css\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"sass\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"},\"compiler-less\":{\"enabled\":true}}",
  "autoprefixer": {
    "browsers": ""
  },
  "file-type-pug": "{\"autoCompile\":true,\"compiler-pug\":{\"pretty\":true,\"enabled\":true},\"compilers\":[\"pug\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-css": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-minify-css\":{\"enabled\":true},\"compiler-cssnext\":{\"enabled\":false},\"compiler-autoprefixer\":{\"enabled\":false},\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[\"sources\"],\"relative\":\"\"},\"outputSuffix\":\".min\"}",
  "file-type-javascript": "{\"autoCompile\":false,\"compiler-uglify-js\":{\"enabled\":true,\"mangle\":true},\"compiler-javascript\":{\"mangle\":true},\"compiler-babel\":{\"enabled\":false},\"sourceMap\":false,\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[\"sources\"],\"relative\":\"\"},\"outputSuffix\":\".min\",\"compiler-concat-js\":{\"enabled\":true}}",
  "file-type-stylus": "{\"autoCompile\":false,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":false},\"compiler-stylus\":{\"nib\":false,\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"sass\"],\"replaceSegmentsWith\":[\"css\"],\"relative\":\"\"}}",
  "file-type-markdown": "{\"autoCompile\":false,\"compiler-markdown\":{\"sanitize\":false,\"gfm\":false,\"wrapWithHtml\":false,\"enabled\":true,\"githubFlavored\":true},\"compilers\":[\"markdown\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-haml": "{\"autoCompile\":false,\"compiler-haml\":{\"pretty\":false,\"doubleQuotes\":false,\"enabled\":true,\"doubleQuoteAttributes\":true},\"compilers\":[\"haml\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-slim": "{\"autoCompile\":false,\"compiler-slim\":{\"pretty\":false,\"indent\":\"default\",\"enabled\":true},\"compilers\":[\"slim\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "file-type-coffee-script": "{\"autoCompile\":false,\"compiler-coffee-script\":{\"bare\":false,\"mangle\":false,\"iced\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"sourceMap\":false,\"compilers\":[\"coffee-script\",\"uglify-js\"],\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"js\"],\"replaceSegmentsWith\":[\"js\"],\"relative\":\"\"}}",
  "file-type-livescript": "{\"autoCompile\":false,\"compiler-livescript\":{\"bare\":false,\"mangle\":false,\"enabled\":true},\"compiler-uglify-js\":{\"enabled\":false,\"mangle\":true},\"compilers\":[\"livescript\",\"uglify-js\"],\"sourceMap\":false,\"output\":{\"outputType\":\"RELATIVE_SOURCE\",\"replaceSegments\":[\"js\"],\"replaceSegmentsWith\":[\"js\"],\"relative\":\"\"}}",
  "file-type-kit": "{\"autoCompile\":false,\"compiler-kit\":{\"minifyHtml\":false,\"enabled\":true},\"compilers\":[\"kit\"],\"output\":{\"outputType\":\"REPLACE_SEGMENT\",\"replaceSegments\":[\"_pre\"],\"replaceSegmentsWith\":[],\"relative\":\"\"}}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": false,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}