extends ./includes/layout.jade

block vars
	- var bodyId = 'subscribed'
	- var accordions = false
	- var counter = false
	- var lightbox = false
	- var socialIcons = false
	- var scrollActions = false
	- var scrollTos = false

block pageMeta
	title Thank you for subscribing to the Newsletter

block pageContent

	article
		#banner.row
			.contain

				.column.margin-0
					.content
						h1 Thank You

		.row
			.contain

				.column
					.content
						p Your subscription has been confirmed. You've been added to our list and will hear from us soon.