extends ../includes/layout.jade

block vars
	- var bodyId = 'e500'
	- var accordions = false
	- var counter = false
	- var lightbox = false
	- var socialIcons = false
	- var scrollActions = false
	- var scrollTos = false

block pageMeta
	title Error 500 - Internal Server Error | #{companyName}

block pageContent

	section
		.row.error
			.contain

				.column
					.content.page-heading
						h1 Error 500 - Internal Server Error 