html

	head

		link(href='/sources/css/upgrade-browser.min.css', rel='stylesheet', type='text/css')

	body

		#upgrade-wrapper

			h2 It appears you are using an outdated browser that is incompatible with current web standards.
			p Please consider upgrading to a modern browser to improve your web experience and enhance your online security and privacy.
			p A list of the most popular web browsers can be found below.

			#browser-logos
				a(id='chrome', href='http://www.google.com/chrome', target='_blank') Google Chrome
				a(id='firefox', href='http://www.firefox.com/', target='_blank') Mozilla Firefox
				a(id='safari', href='http://www.apple.com/safari/', target='_blank') Safari
				a(id='opera', href='http://www.opera.com/', target='_blank') Opera
				a(id='internetexplorer', href='http://windows.microsoft.com/ie', target='_blank') Internet Explorer

			p Thank you